 .skills {
        background:white;
        }
        
        .skills_container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 13px;
          margin:15px 15px;
        }
        
        .skill_card {
          background:linear-gradient(135deg, rgb(231, 177, 77) 0%, #00f2fe 100%);
          padding: 25px;
          border-radius: 10px;
          text-align: center;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
          transition: transform 0.3s ease;
        }
        .container h2{
            margin: 10px 40px;
            color:#86b0eb;
            text-transform: uppercase;
            font-weight: 700;
        }
        .skill_card:hover {
          transform: translateY(-5px);
        }
        
        .skill_icon {
          font-size: 3rem;
          color: var(--primary);
          margin-bottom: 20px;
        }