 .skills {
        background:white;
        }
        
        .skills_container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 13px;
          margin:7px 15px;
        }
        
        .skill_card {
          background:rgb(43, 59, 43);
          padding: 25px;
          border-radius: 10px;
          text-align: center;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
          transition: transform 0.3s ease;
        }
        .container h2{
            margin: 20px 70px;
            color:black;
            text-transform: uppercase;
            font-weight: 700;
        }
        .skill_card:hover {
          transform: translateY(-5px);
        }
        .skill_card h3{
          color:white;
          font-weight: 600;
        }
        .skill_card p{
          color:white;
          font-weight: 400;
        }
        .skill_icon {
          font-size: 3rem;
          color: white;
          margin-bottom: 20px;
        }