@import "tailwindcss";

body{
    margin:0;
   background-color: black;
   color: white;
}
.hamburg{
    width: 30px;
    height: 30px;
    display: none;
}
@media (max-width: 768px){
    .hamburg{
        display: flex;
    }
}