@import "tailwindcss";

body{
    margin:0;
    padding:0;
    background: white;
   color: black;
}
.hamburg{
    width: 30px;
    height: 30px;
    display: none;
}
@media (max-width: 768px){
    .hamburg{
        display: flex;
    }
}
html {
  scroll-behavior: smooth;
}
.loader-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a; /* dark background */
}

.dots {
  display: flex;
  gap: 10px;
}

.dots span {
  width: 12px;
  height: 12px;
  background: #3b82f6;
  border-radius: 50%;
  animation: move 0.6s infinite alternate;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes move {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}