@import "tailwindcss";

body{
    margin:0;
    padding:0;
    background: white;
   color: black;
}
.hamburg{
    width: 30px;
    height: 30px;
    display: none;
}
@media (max-width: 768px){
    .hamburg{
        display: flex;
    }
}