
        .whychoose {
          background:white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .whychoose h2{
            padding: 30px 20px;
            color:black;
            font-weight: 600;
            text-transform: uppercase;
        }
        .reasons {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(270px, 3fr));
          gap: 30px;
        }
        
        .reasoncard {
          background:rgb(104, 102, 102);
          color:white;
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        
        .reasoncard:hover {
          transform: translateY(-10px);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        }
        
        .reasonicon {
          font-size: 2.5rem;
          color:rgb(136, 238, 191);
          margin-bottom: 20px;
        }
        